.timer-field {
  margin-left: 20px;
  font-size: 25px;
}

.button {
  width: 50px;
  height: 25px;
  border: 1px solid var(--top-border-cl);
  border-radius: 7px;
}

.danger {
  background-color: var(--border-cl-red);
}

.success {
  margin-left: auto;
  background-color: chartreuse;
}

.button.timer:not(:last-child) {
  margin-right: 10px;
}
