.form-section {
  background-color: var(--section-bg-cl);
}
.query-label {
  display: block;
  width: 332px;
  margin-left: auto;
  margin-right: auto;
}

.query-input {
  width: 250px;
  padding: 7 0 3 0;
  font-size: medium;

  border: 2px solid var(--primary-txt-cl);
  border-radius: 7px;
  background-color: var(--section-bg-cl);
}

.query-input:hover {
  border-color: var(--secondary-txt-cl);
}

.query-load {
  width: 66px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.news-wrapper {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.news-list__item {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--border-cl);
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}
