.todo-list {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.todo-item {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: var(--backdrop-cl);
}

.todo-input {
  margin-right: 10px;
}

.todo-text-wrapper {
  display: block;
}

.todo-deskr {
  margin-right: 10px;
  font-size: 17px;

  text-indent: 10px;
  color: var(--secondary-txt-cl);
  // background-color: aliceblue;
}

.todo-timer {
  text-indent: 10px;
}

.button-delete {
  margin-left: auto;
  padding: 5 20;
  border-color: var(--border-cl-red);
  color: var(--border-cl-red);
  // border: transparent;
  border-radius: 7px;
  //   width: 50px;
}
